USE [master]
GO
/****** Object:  Database [DboTicariOtomasyon]    Script Date: 14.03.2022 16:01:13 ******/
CREATE DATABASE [DboTicariOtomasyon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DboTicariOtomasyon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DboTicariOtomasyon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DboTicariOtomasyon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DboTicariOtomasyon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DboTicariOtomasyon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DboTicariOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[KULLANICIAD] [varchar](10) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BANKALAR]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BANKALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BANKAADI] [varchar](30) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[SUBE] [varchar](30) NULL,
	[IBAN] [varchar](30) NULL,
	[HESAPNO] [varchar](20) NULL,
	[YETKILI] [varchar](30) NULL,
	[TELEFON] [varchar](20) NULL,
	[TARIH] [varchar](20) NULL,
	[HESAPTURU] [varchar](20) NULL,
	[FIRMAID] [smallint] NULL,
 CONSTRAINT [PK_TBL_BANKALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURABILGI]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURABILGI](
	[FATURABILGIID] [int] IDENTITY(1,1) NOT NULL,
	[SERI] [char](1) NULL,
	[SIRANO] [varchar](10) NULL,
	[TARIH] [varchar](10) NULL,
	[SAAT] [varchar](50) NULL,
	[VERGIDAIRE] [varchar](40) NULL,
	[ALICI] [varchar](30) NULL,
	[TESLIMEDEN] [varchar](30) NULL,
	[TESLIMALAN] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_FATURABILGI] PRIMARY KEY CLUSTERED 
(
	[FATURABILGIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURADETAY]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURADETAY](
	[FATURAURUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](20) NULL,
	[MIKTAR] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
 CONSTRAINT [PK_TBL_FATURADETAY] PRIMARY KEY CLUSTERED 
(
	[FATURAURUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMAHAREKETLER]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMAHAREKETLER](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[FIRMA] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
	[TARIH] [varchar](10) NULL,
	[NOTLAR] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_HAREKETLER] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMALAR]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[YETKILISTATU] [varchar](30) NULL,
	[YETKILIADISOYADI] [varchar](30) NULL,
	[YETKILITC] [varchar](11) NULL,
	[SEKTOR] [varchar](15) NULL,
	[TELEFON1] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TELEFON3] [varchar](15) NULL,
	[MAIL] [varchar](40) NULL,
	[FAX] [varchar](15) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[VERGIDAIRE] [varchar](30) NULL,
	[ADRES] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_FIRMALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GIDERLER]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GIDERLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ELEKTRIK] [decimal](18, 2) NULL,
	[SU] [decimal](18, 2) NULL,
	[DOGALGAZ] [decimal](18, 2) NULL,
	[INTERNET] [decimal](18, 2) NULL,
	[MAASLAR] [decimal](18, 2) NULL,
	[EKSTRA] [decimal](18, 2) NULL,
	[NOTLAR] [varchar](500) NULL,
	[AY] [varchar](7) NULL,
	[YIL] [char](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILCELER]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILCELER](
	[ID] [int] NOT NULL,
	[ILCE] [varchar](30) NULL,
	[SEHIR] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILLER]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEHIR] [varchar](13) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERIHAREKETLER]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERIHAREKETLER](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[MUSTERI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
	[TARIH] [varchar](10) NULL,
	[NOTLAR] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_MUSTERIHAREKETLER] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERILER]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERILER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[VERGIDAIRESI] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[NOTTARIH] [varchar](20) NULL,
	[NOTSAAT] [varchar](20) NULL,
	[NOTBASLIK] [varchar](50) NULL,
	[NOTDETAY] [varchar](250) NULL,
	[NOTOLUSTURAN] [varchar](20) NULL,
	[NOTHITAP] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONELLER]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONELLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[GOREV] [varchar](20) NULL,
 CONSTRAINT [PK_TBL_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STOKLAR]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKLAR](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[STOKTUR] [varchar](20) NULL,
	[STOKADET] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_URUNLER]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_URUNLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](150) NULL,
	[MARKA] [varchar](20) NULL,
	[MODEL] [varchar](20) NULL,
	[YIL] [char](4) NULL,
	[ADET] [int] NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[DETAY] [varchar](500) NULL,
 CONSTRAINT [PK_TBL_URUNLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_BANKALAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BANKALAR_TBL_FIRMALAR] FOREIGN KEY([FIRMAID])
REFERENCES [dbo].[TBL_FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_BANKALAR] CHECK CONSTRAINT [FK_TBL_BANKALAR_TBL_FIRMALAR]
GO
ALTER TABLE [dbo].[TBL_FATURADETAY]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI] FOREIGN KEY([FATURAID])
REFERENCES [dbo].[TBL_FATURABILGI] ([FATURABILGIID])
GO
ALTER TABLE [dbo].[TBL_FATURADETAY] CHECK CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_FIRMALAR] FOREIGN KEY([FIRMA])
REFERENCES [dbo].[TBL_FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_FIRMALAR]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_URUNLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_MUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBL_MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_MUSTERILER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_URUNLER]
GO
/****** Object:  StoredProcedure [dbo].[BankaBilgileri]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[BankaBilgileri]
as 
SELECT B.ID,B.BANKAADI,B.IL,B.ILCE,B.SUBE,B.IBAN,B.HESAPNO,B.YETKILI,B.TELEFON,B.TARIH,B.HESAPTURU,F.AD FROM TBL_BANKALAR B INNER JOIN TBL_FIRMALAR F ON B.FIRMAID=F.ID
GO
/****** Object:  StoredProcedure [dbo].[FirmaHareket2]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[FirmaHareket2] as 
SELECT URUNAD,TBL_FIRMAHAREKETLER.ADET,
TBL_FIRMALAR.AD
,FIYAT,TOPLAM FROM
TBL_FIRMAHAREKETLER INNER JOIN TBL_URUNLER ON 
TBL_FIRMAHAREKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN TBL_FIRMALAR ON 
TBL_FIRMAHAREKETLER.FIRMA=TBL_FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[FirmaHareketler]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[FirmaHareketler]
as
SELECT HAREKETID,URUNAD,TBL_FIRMAHAREKETLER.ADET,
(TBL_PERSONELLER.AD+' '+ SOYAD)AS 'AD SOYAD' ,TBL_FIRMALAR.AD
,FIYAT,TOPLAM,FATURAID, TARIH,NOTLAR FROM
TBL_FIRMAHAREKETLER INNER JOIN TBL_URUNLER ON 
TBL_FIRMAHAREKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN TBL_PERSONELLER ON
TBL_FIRMAHAREKETLER.PERSONEL=TBL_PERSONELLER.ID
INNER JOIN TBL_FIRMALAR ON 
TBL_FIRMAHAREKETLER.FIRMA=TBL_FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[MusteriHareketler]    Script Date: 14.03.2022 16:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MusteriHareketler]
AS 
SELECT HAREKETID,URUNAD,
(TBL_PERSONELLER.AD +' '+TBL_PERSONELLER.SOYAD) AS 'AD SOYAD',
(TBL_MUSTERILER.AD+ ' '+ TBL_MUSTERILER.SOYAD) AS 'MÜŞTERİ',
FIYAT,TOPLAM,TBL_MUSTERIHAREKETLER.ADET,FATURAID,TARIH,NOTLAR
 FROM
TBL_MUSTERIHAREKETLER INNER JOIN TBL_URUNLER ON 
TBL_MUSTERIHAREKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN TBL_PERSONELLER ON
TBL_MUSTERIHAREKETLER.PERSONEL=TBL_PERSONELLER.ID
INNER JOIN TBL_MUSTERILER ON 
TBL_MUSTERIHAREKETLER.MUSTERI=TBL_MUSTERILER.ID
GO
USE [master]
GO
